atividade_01/obj/atividade_01.csproj.nuget.dgspec.json
atividade_01/obj/atividade_01.csproj.nuget.g.props
atividade_01/obj/project.assets.json
atividade_01/obj/Debug/net6.0/atividade_01.GeneratedMSBuildEditorConfig.editorconfig
atividade_01/obj/project.nuget.cache
